name: Silver Harp

on: 
  workflow_dispatch:
  schedule:
    - cron: '0 15 * * 0'
    - cron: '0 3,15 * * 1-4'
    - cron: '0 3 * * 5'

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup Deno
        uses: denoland/setup-deno@v2
        with:
          deno-version: v2.x

      - name: Create MP3 Dir
        run: mkdir mp3

      - name: Create Authentication JSON
        env: 
          JSON: "${{ secrets.GOOGLE_AUTH }}"
        run: echo "$JSON" >> silverharp.json

      - name: Setup ffmpeg command
        uses: FedericoCarboni/setup-ffmpeg@v3
        with:
          ffmpeg-version: release
          architecture: ''
          # As of version 3 of this action, builds are no longer downloaded from GitHub
          # except on Windows: https://github.com/GyanD/codexffmpeg/releases.
          github-token: ${{ github.server_url == 'https://github.com' && github.token || '' }}

      - name: Generate audio files from Instapaper, and create temporary RSS feed
        env:
          INSTAPAPER_CONSUMER_KEY: "${{ secrets.INSTAPAPER_CONSUMER_KEY }}"
          INSTAPAPER_CONSUMER_SECRET: "${{ secrets.INSTAPAPER_CONSUMER_SECRET }}"
          INSTAPAPER_USER_PASSWORD: "${{ secrets.INSTAPAPER_USER_PASSWORD }}"
          INSTAPAPER_USER_NAME: "${{ secrets.INSTAPAPER_USER_NAME }}"
          SILVERHARP_SERVER: "${{ secrets.SILVERHARP_SERVER }}"
          SILVERHARP_USER: "${{ secrets.SILVERHARP_USER }}"
        run: deno run -A main.ts

      - name: Download the existing silverharp.rss
        run: wget https://"${{ secrets.SILVERHARP_SERVER }}"/silverharp -O mp3/silverharp.rss

      - name: Merge audio files and insert chapters
        run: |
          TZ="Asia/Tokyo" bash insert-chapter_and_merge-audio.sh
          echo "CHECKING_FILE=$(if [ -f mp3/$(TZ="Asia/Tokyo" date +"%Y%m%d%H".mp3) ]; then echo 'true'; else echo 'false'; fi)" >> $GITHUB_ENV

      - name: Setup SSH
        run: |
          mkdir -p ~/.ssh
          chmod 700 ~/.ssh
          ssh-keyscan -H "${{ secrets.SSH_HOST }}" >> ~/.ssh/known_hosts || echo "ssh-keyscan failed"

      - name: SCP Transfer
        if: env.CHECKING_FILE == 'true'
        run: |
          echo "${{ secrets.SSH_PRIVATE_KEY }}" > scp_key.pem
          chmod 600 scp_key.pem
          scp -i scp_key.pem mp3/$(TZ="Asia/Tokyo" date +"%Y%m%d%H").mp3 "${{ secrets.SSH_USER }}"@"${{ secrets.SSH_HOST }}":/var/www/html/silverharp/
          scp -i scp_key.pem mp3/silverharp.rss "${{ secrets.SSH_USER }}"@"${{ secrets.SSH_HOST }}":/var/www/html/silverharp/

      - name: Delete files
        run: rm -rf mp3
